<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>自由|岁阅</title>
	<link rel="stylesheet" href="{{static_url("css/base.css")}}">
	<link rel="stylesheet" href="{{static_url("css/card.css")}}">
	<link rel="icon" href="{{ static_url("pic/static/logo.png") }}">
</head>
<body>
	<div class="container">
		<div class="header-container">
		<div class="header">
			<div class="header-title">
				<a href="/">岁阅</a>
				<span>
					A land of literary talent
				</span>
			</div>
			<div class="header-category">
				<ul>
					<li>
						<a href="/card">词卡</a>
					</li>
					<li>
						<a href="/story">故事</a>
					</li>
					<li>
						<a href="/free">自由</a>
					</li>
					<li>
						<a href="/read">阅读</a>
					</li>
				</ul>
			</div>

			 

			{% if len(user)>0 %}
			<div class="header-user">
				<a href="/logout" id="user">
					退出
				</a>
				<a href="{{"/user?uid="+str(user[0].uid)}}">
					<img src="{{ static_url("pic/hpic/"+user[0].hpic) }}" alt="{{user[0].uname}}">
				</a>
			</div>
			{% end if%}

			{% if len(user)==0 %}
			<div class="header-choise">
				<a href="/login">
					登录 
				</a>
				<a href="/signin">
					注册
				</a>
			</div>
			{% end if %}
		</div>
		</div>

		<div class="main-container">
		<div class="main">
			<div class="main-left-container">
			<div class="main-left">


				<div class="write-button">
					<p>你呀你，是自在如风的少年，这里，你自在飞翔~</p>
					<a href="/write">开始写作</a>
				</div>

				<div class="suiyue-circle">
					<div class="column">
						<p>最新文章</p>
					</div>

					{% for one in Article %}
					<div class="simplified-arcitle">
						<div class="simplified-article-title">
							<a href="{{ "/article?aid="+str(one.aid) }}">
								<p>{{ one.title }}</p>
							</a>
							<a href="{{ "/user?uid="+str(one.uid) }}" class="simplified-article-author">
								<span class="simplified-article-author-name">{{ one.uname }}</span>
								<img src="{{ static_url("pic/hpic/"+one.hpic) }}" alt="{{ one.uname }}">
							</a>
						</div>

						<div class="simplified-article-main">
							<a href="{{ "/article?aid="+str(one.aid) }}">
								<p>{% raw one.main %}</p>
							</a>
						</div>
						

						<div class="simplified-article-footer">
							<p>{{ one.wtime }} 来自 
								{% if one.Class == "card" %}
									<a href="{{ "/card?cid="+str(one.cid) }}" class="simplified-article-footer-from">词卡</a>
								{% end if %}

								{% if one.Class == "story" %}
								<a href="{{ "/story?sid="+str(one.sid) }}" class="simplified-article-footer-from">故事</a>
								{% end if %}

								{% if one.Class == "free" %}
								<a href="/story" class="simplified-article-footer-from">自由写作</a>
								{% end if %}
							</p>
							<ul>
								<li>
									<a href="{{ "/article?aid="+str(one.aid) }}" class="simplified-article-footer-from">
										喜欢-{{ one.nlove }}
									</a>
								</li>
								<li>
									<a href="{{ "/article?aid="+str(one.aid) }}" class="simplified-article-footer-from">
										评论-{{ one.ncomment }}
									</a>
								</li>
							</ul>
						</div>

					</div>
					{% end for %}

				</div>
			</div>
			</div>

			<div class="main-right-container">
			<div class="main-right">
				

				



				<div class="tuijian-article">
					<p>热门文章</p>
					<ul>
						{% for one in Rarticle %}
						<li>
							<a href="{{ "/article?aid="+str(one.aid) }}" class="tuijian-article-title">
								- > {{ one.title }}
							</a>
							<a href="{{ "/user?uid="+str(one.uid) }}" class="tuijian-article-writer">by {{ one.uname }}</a>
						</li>
						{% end for %}
					</ul>
				</div>

				<div class="tuijian-user">
					<p>人气岁友</p>
					{% for one in Ruser %}
					<div class="tuijian-user-each">
						<a href="{{ "/user?uid="+str(one.uid) }}">
							<img src="{{ static_url("pic/hpic/"+one.hpic) }}" alt="{{ one.uname }}">{{ one.uname }}
						</a>
					</div>
					{% end for %}
				</div>

			</div>
			</div>
		</div>
		</div>

		<div class="footer-container">
		<div class="footer">
			<p>© Suiyue</p>
			<p>2016</p>
		</div>
		</div>
	</div>
</body>
</html>